<p-drawer
  [visible]="true"
  [modal]="false"
  [showCloseIcon]="false"
  [dismissible]="false"
  appendTo="self"
  styleClass="sidebar-drawer"
>
  <div class="sidebar-wrapper">
    <div class="sidebar-top">
      <div class="logo">
        <div class="logo-box">
          <i class="pi pi-bolt"></i>
        </div>
        <span>TaskFlow</span>
      </div>
      <nav>
        @for (item of menuItems; track item.route) {
          @if (!item.adminOnly || isAdmin) {
            <a [routerLink]="item.route" routerLinkActive="active">
              <i [class]="item.icon + ' nav-icon'"></i>
              <span>{{ item.label | translate }}</span>
            </a>
          }
        }
      </nav>
    </div>
    @if (user) {
      <div class="sidebar-footer">
        <div class="user-profile">
          <div class="user-avatar">
            {{ getInitial(user.name) }}
          </div>
          <div class="user-info">
            <span class="user-name">{{ user.name }}</span>
            <span class="user-email">{{ user.email }}</span>
          </div>
        </div>
      </div>
    }
    <p-button
      styleClass="sidebar-toggle-btn"
      (click)="toggleRequest.emit()"
      [title]="(isCollapsed ? 'SIDEBAR.EXPAND' : 'SIDEBAR.COLLAPSE') | translate"
    >
      <i
        class="pi"
        [class.pi-chevron-right]="isCollapsed"
        [class.pi-chevron-left]="!isCollapsed"
      ></i>
    </p-button>
  </div>
</p-drawer>
