<div class="layout">

  <app-sidebar [user]="user" [isCollapsed]="isSidebarCollapsed" class="sidebar" [class.collapsed]="isSidebarCollapsed" (toggleRequest)="toggleSidebar()"></app-sidebar>

  <div class="content">
    <header class="header">
      <div class="header-left">
        <h2 class="greeting">{{ 'HEADER.HELLO' | translate:{ name: user?.name } }}</h2>
        <p class="date">{{ currentDate }}</p>
      </div>
      <div class="header-right" style="display: flex; align-items: center; gap: 16px;">
        <p-select 
          [(ngModel)]="currentLang" 
          [options]="langOptions" 
          optionLabel="label" 
          optionValue="value"
          (onChange)="onLangChange($event.value)" 
          styleClass="lang-select" 
          appendTo="body"
        ></p-select>

        <p-button styleClass="theme-toggle-btn" (click)="toggleTheme()">
          @if (!isDarkMode) {
            <i class="ph-light ph-moon"></i>
          } @else {
            <i class="ph-light ph-sun"></i>
          }
        </p-button>
        <p-button styleClass="logout-btn" (click)="logout()" [title]="'HEADER.LOGOUT' | translate">
          <i class="ph-light ph-sign-out"></i>
        </p-button>
      </div>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>