@use 'mixins';

:host {
  display: block;
  height: 480px;
  overflow-y: auto;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--gray-rgb), 0.2) transparent;

  @include mixins.custom-scrollbar(
    $thumb-color: rgba(var(--gray-rgb), 0.2),
    $thumb-hover-color: null,
    $track-color: transparent
  );
}
